<table data-mobile="true" dir="ltr" data-width="512" style="font-size: 16px; background-image: url(https://app.getresponse.com/images/common/templates/messages/643/1/img/643_01.gif); background-position: center top; background-repeat: no-repeat; background-color: rgb(253, 247, 228);" width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td style="margin:0;padding:87px 0 99px;" valign="top" align="center">
      <table style="border-radius: 33px; width: 512px;" class="wrapper" width="512" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
        <tbody><tr>
          <td style="margin:0;padding:0;" valign="top" align="center">
              <table data-editable="text" width="100%" align="center" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                      <td class="lh-0" style="margin: 0px; padding: 47px 0px 0px; line-height: 1.05; font-size: 16px; font-family: serif;" valign="top" align="center">
                          <span style="font-family:Helvetica,serif;font-size:63px;font-weight:700;color:#efcd5b;line-height:1;">Food & Drink<br></span>
                      </td>
                  </tr>
              </tbody></table>
          </td>
        </tr>
        <tr>
            <td style="margin:0;padding:0;" valign="top" align="center">
                <table data-editable="text" width="100%" align="center" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td class="lh-0" style="margin: 0px; padding: 0px 0px 32px; line-height: 1.05; font-size: 16px; font-family: serif;" valign="top" align="center">
                            <span style="font-family:Helvetica,serif;font-size:63px;font-weight:700;color:#d84b57;line-height:1;">Confirm Request</span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
            <td style="margin:0;padding:0;" valign="top" align="center">
                <table data-editable="text" width="100%" align="center" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td class="lh-3" style="margin: 0px; padding: 0px 70px 27px; line-height: 1.35; font-size: 16px; font-family: serif;" valign="top" align="center">
                            <span style="font-family:'Helvetica Neue',Helvetica,serif;font-size:22px;font-weight:400;color:#4c4c4c;line-height:1.3;">
                                <span style="font-weight:700; color: #d84b57;">I <%= @order.user.name %> confirm request with order of me  <br>Đã xác nhận yêu cầu chuyển phát nhanh gấp cho tui vowis nhe :) <br></span></span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
            <td style="margin: 0px; padding: 0px;" valign="top" align="center">
                <div data-box="button" style="width: 100%; margin-top: 0px; margin-bottom: 0px; text-align: center;"><table data-editable="button" style="margin: 0px auto;" align="center" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td class="tdBlock" style="display: inline-block; padding: 14px 58px; margin: 0px; border-radius: 39px; background-color: rgb(216, 75, 87);" valign="middle" align="center"><a href="http://localhost:3000/admin/orders" style="font-family:'Helvetica Neue',Helvetica,sans-serif;color:#ffffff;font-size:20px;font-weight:700;text-decoration:none;">
                                Watch Status<br><span style="text-decoration:underline;">CLICK HERE</span>.
                            </a></td>
                    </tr>
                </tbody></table></div>
            </td>
        </tr>
        <tr>
            <td style="padding:0;margin:0;" valign="top" align="center">
                <table data-editable="line" style="margin: 0px; padding: 0px;" width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td style="padding: 22px 0px; margin: 0px;" valign="top" align="center"><div style="height:1px;line-height:1px;border-top-width:1px; border-top-style:solid;border-top-color:#ffffff;">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" style="display:block;" width="1" height="1">
                            </div></td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>

