<div class="panel panel-default">
  <div class="panel-heading">
    <%= t "admin_category_table_create" %>
  </div>
  <div class="panel-body">
    <div id="mess-area-add"></div>
    <div id="form-category"><%= render "form" %></div>
  </div>
</div>
