<body>
  <div class="product-framgia">
    <div id="wrapper">
      <div id="page-wrapper" >
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h2><%= t "product_create_title" %></h2>
              <h5><%= t "product_create_title_small" %></h5>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
              <%= render "form" %>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
              <%= render "shared/info_right" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
