.comment-style h4{
  margin: 10px !important;
  font-weight: bolder;
}

.comment-style p{
  margin: 10px !important;
  font-weight: lighter;
}

.time_word{
  font-size: 12px;
  font-weight: 100;
  color: #999999
}

.first-comment-style a{
  margin: 10px !important;
}
