.user-sidebar-collapse .nav > li > a {
  color: #FF530A;
  background: #fff;
  text-shadow: none;
}

.user-product-nav{
  color: #FF530A;
  background: #fff;
  border: none;
}

.search-and-filter{
  display: block-inline;
  color: #FF530A;
  background: #fff;
}
