<div class="cart-tab visible">
  <a href="#" class="cart-link">
    <span class="amount items-price">
      <p>
        <%= total_price_product @cart %>
      </p>
    </span>
    <p class="glyphicon glyphicon-shopping-cart">
      <span class="contents items-count">
        <%= @cart.count %>
      </span>
    </p>
  </a>
  <div class="cart">
    <div class="cart-items">
      <%= render "shared/cart_online" %>
    </div>
    <%= link_to t(:view_all_carts), carts_path, class: "checkout" %>
  </div>
</div>
